:root {
    --toggle-bg: rgba(255, 255, 255, 0.1);
    --toggle-hover: rgba(136, 68, 182, 0.3);
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 1rem; /* Padding menor para mobile */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
}