.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.85rem 0 0.85rem 0;
    background-color: #000000;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 0.85rem;
    color: #ffffff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);

    /* Display flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
}

.footer p{
    margin: 0;
    opacity: 0.85;
}

.footer .footer-link-git {
    color: #b4d2ff;
    opacity: 1;
}

.footer .footer-link-linkedin {
    color: #ffc8ff;
    opacity: 1;
}

.heart {
    display: inline-block;
    animation: heartBeat 1.5s ease infinite;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.85;
    transition: all 0.3s ease;
}

.footer a:hover {
    opacity: 1;
    text-decoration: underline;
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}